/* components/main/navbar.module.css */
.navLink {
    position: relative;
}

.navLink::after {
    display: block;
    content: '';
    border-bottom: solid 3px white !important;
    transform: scaleX(0) !important;
    transition: transform 250ms ease-in-out !important;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.navLink:hover::after {
    transform: scaleX(1) !important;
}
